| {% extends 'layout.html' %}
| {% block page_title %}Welcome{% endblock %}

| {% set title = 'join' %}

| {% block og %}
meta(property="og:title", content="Join the Blender Cloud")
meta(property="og:url", content="https://cloud.blender.org/")
meta(property="og:image", content="{{ url_for('static', filename='assets/img/backgrounds/background_andy_hdribot_01.jpg')}}")
| {% endblock %}

| {% block header_backdrop %}
.navbar-backdrop.join(
	style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_agent327_04.jpg')}})")
| {% endblock %}

| {% block page_overlay %}
#page-overlay.video
	.video-embed
| {% endblock %}

| {% block body %}
#page-container.join
	#page-header
		.container
			.page-title
				span.text-background Welcome to the Blender Cloud.

			.page-title-summary
				p
					span.text-background Join us as we make the Agent 327 "Barbershop" scene
				ul
					li
						span.text-background Exclusive production insight &amp; walk-throughs
					li
						span.text-background High-quality assets ready to use
					li
						span.text-background All the open movies files & tutorials
					li
						span.text-background 100+ hours of training

			.page-header-cta-container
				a.page-header-cta(href="https://store.blender.org/product/membership/")
					| Join Now

				a.page-header-cta-extra(href="https://cloud.blender.org/p/agent-327")
					| Learn More
					i.pi-angle-right


	#page-content
		section.page-card-header
			h2
				a(href="{{ url_for('main.training') }}") Training & Tutorials

		.page-triplet-container.homepage
			.row
				.col-md-4
					.triplet-card(data-url="https://cloud.blender.org/p/motion-graphics/")
						.triplet-card-thumbnail
							img(
								alt="HDRI",
								src="{{ url_for('static', filename='assets/img/features/training_motion_graphics.jpg')}}")
						.triplet-card-info
							h3 Motion Graphics
							p.
								A comprehensive guide to motion graphics techniques using Blender.
							a.triplet-cta(href="https://cloud.blender.org/p/motion-graphics/")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="https://cloud.blender.org/p/toon-character-workflow/")
						.triplet-card-thumbnail
							img(
								alt="Textures",
								src="{{ url_for('static', filename='assets/img/features/training_toon_character.jpg')}}")
						.triplet-card-info
							h3 Toon Character Workflow
							p.
								Perfect for beginners, learn how to build a cartoon character from concept to finish.
							a.triplet-cta(href="https://cloud.blender.org/p/toon-character-workflow/")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="https://cloud.blender.org/p/gallery")
						.triplet-card-thumbnail
							img(
								alt="Characters",
								src="{{ url_for('static', filename='assets/img/features/training_bob_forest.jpg')}}")
						.triplet-card-info
							h3 Art Walk-throughs
							p.
								Follow artists through the creative process and techniques behind their work.
							a.triplet-cta(href="https://cloud.blender.org/p/gallery")
								| LEARN MORE

				.row
					.col-md-8.col-md-offset-2
						p.extra.
							Other trainings:
							<a href="https://cloud.blender.org/p/3d-printing/">Blender for 3D Printing</a>,
							<a href="https://cloud.blender.org/p/game-asset-creation/">Game Asset Creation</a>,
							<a href="https://cloud.blender.org/p/blenderella/">Character Modeling</a>,
							<a href="https://cloud.blender.org/p/character-animation/">Character Animation</a>,
							<a href="https://cloud.blender.org/p/humane-rigging/">Introduction</a>
							and
							<a href="https://cloud.blender.org/p/blenrig/">Advanced Rigging</a>,
							<a href="https://cloud.blender.org/p/track-match-2/">VFX Workflow</a>,
							<a href="https://cloud.blender.org/p/creature-factory-2/">Creature</a>
							and
							<a href="https://cloud.blender.org/p/venoms-lab-2/">Cartoon Character creation</a>,
							<a href="https://cloud.blender.org/p/chaos-evolution/">Advanced</a>
							<a href="https://cloud.blender.org/p/blend-and-paint/">Digital Painting</a>
							and
							<a href="{{ url_for('main.training') }}">much more</a>!


		.page-triplet-container-fluid.dark(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/pattern_01.jpg')}})")
			section.page-card-header
				h2
					a(href="{{ url_for('main.open_projects') }}") Browse all the Open Movies

			.page-triplet-container.homepage
				.row
					.col-md-4
						.triplet-card(data-url="https://cloud.blender.org/p/cosmos-laundromat/")
							.triplet-card-thumbnail
								img(
									alt="HDRI",
									src="{{ url_for('static', filename='assets/img/features/open_movies_cosmos.jpg')}}")
							.triplet-card-info
								h3 Cosmos Laundromat
								a.triplet-cta(href="https://cloud.blender.org/p/cosmos-laundromat/")
									| LEARN MORE

					.col-md-4
						.triplet-card(data-url="https://cloud.blender.org/p/agent-327/")
							.triplet-card-thumbnail
								img(
									alt="Textures",
									src="{{ url_for('static', filename='assets/img/features/open_movies_agent_barbershop.jpg')}}")
							.triplet-card-info
								h3 Agent 327
								a.triplet-cta(href="https://cloud.blender.org/p/agent-327/")
									| LEARN MORE

					.col-md-4
						.triplet-card(data-url="https://cloud.blender.org/p/caminandes-3/")
							.triplet-card-thumbnail
								img(
									alt="Characters",
									src="{{ url_for('static', filename='assets/img/features/open_movies_caminandes_llamigos.jpg')}}")
							.triplet-card-info
								h3 Caminandes
								a.triplet-cta(href="https://cloud.blender.org/p/caminandes-3/")
									| LEARN MORE

				.row
					.col-md-8.col-md-offset-2
						p.extra.
							Other open movies:
							<a href="https://cloud.blender.org/p/elephants-dream/">Elephants Dream</a>,
							<a href="https://cloud.blender.org/p/sintel/">Sintel</a>,
							<a href="https://cloud.blender.org/p/big-buck-bunny/">Big Buck Bunny</a>,
							<a href="https://cloud.blender.org/p/tears-of-steel/">Tears of Steel</a>,
							<a href="https://cloud.blender.org/p/glass-half/">Glass Half</a>,
							and
							<a href="{{ url_for('main.open_projects') }}">more</a>.


		section.page-card-header
			h2 Download 1000s of files and assets

		.page-triplet-container.homepage
			.row
				.col-md-4
					.triplet-card(data-url="{{ url_for('projects.view', project_url='textures') }}")
						.triplet-card-thumbnail
							img(
								alt="Textures",
								src="{{ url_for('static', filename='assets/img/features/textures_01.jpg')}}")
						.triplet-card-info
							h3 Textures
							p.
								More than 1500 texture maps.
								Browse online or from Blender with our awesome  add-on.
							a.triplet-cta(href="{{ url_for('projects.view', project_url='textures') }}")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="{{ url_for('projects.view', project_url='hdri') }}")
						.triplet-card-thumbnail
							img(
								alt="HDRI",
								src="{{ url_for('static', filename='assets/img/features/hdri_01.jpg')}}")
						.triplet-card-info
							h3 HDRI
							p.
								Up to 16K and 24 EVs (extremely high) HDR images to light your renders.
							a.triplet-cta(href="{{ url_for('projects.view', project_url='hdri') }}")
								| LEARN MORE

				.col-md-4
					.triplet-card(data-url="{{ url_for('projects.view', project_url='characters') }}")
						.triplet-card-thumbnail
							img(
								alt="Characters",
								src="{{ url_for('static', filename='assets/img/features/characters_01.jpg')}}")
						.triplet-card-info
							h3 Characters
							p.
								Production quality, fully rigged and shaded characters ready to animate.
							a.triplet-cta(href="{{ url_for('projects.view', project_url='characters') }}")
								| LEARN MORE


		section.page-card-header
			h2 Learn by Example


		section.page-card.services-projects

			.page-card-side
				h2.page-card-title Exclusive Production Insights
				.page-card-summary
					p.
						Watch the original authors of shots breaking them down and share their
						insight in the production process. Watch animation reviews,
						narrated timelapses, shot walk-throughs and more.

			.page-card-side
				.page-card-image
					video(autoplay, loop)
						source(src="{{ url_for('static', filename='assets/img/features/animation_review_01.mp4')}}")


		section.page-card.right.services-projects

			.page-card-side
				h2.page-card-title Production Quality Files
				.page-card-summary
					p.
						From fully rigged characters ready to animate to an Art Gallery
						curated by the best Blender artists, access top quality blendfiles to learn
						new techniques and improve your art.

			.page-card-side
				.page-card-image
					img(
						alt="High Quality Assets",
						src="{{ url_for('static', filename='assets/img/features/locomotive_01.jpg')}}")


		#blender-addon.page-section-container(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/pattern_bw_01.jpg')}})")
			section.page-card-header.dark Blender Cloud Add-on
				span.page-card-header_lead.dark Connect Blender with the Cloud

				a.page-card-cta.download(
					href="https://cloud.blender.org/r/downloads/blender_cloud-latest-bundle.zip")
					i.pi-download
					| Download <small>v</small>{{ config.BLENDER_CLOUD_ADDON_VERSION }}

			section.page-card.dark.right

				.page-card-side
					h2.page-card-title Blender Sync
					.page-card-summary.
						Save your settings once. Use them anywhere.
						Carry your Blender configuration with you,
						use our free add-on to sync your keymaps and preferences.
						<hr/>
						<small>Syncing settings is free for everyone! No subscription required.</small>

					a.page-card-cta(
						href="https://cloud.blender.org/blog/introducing-blender-sync")
						| Learn More

				.page-card-side
					.page-card-icon
						svg(xmlns="http://www.w3.org/2000/svg",
								width="64", height="54", viewBox="0 0 64 54")
								g(fill="none", stroke="#aaa", stroke-width="2", stroke-miterlimit="10")
									path(d="M29 47H5l-4-4v-2h24l2 2h2M29 3H10C8.344 3 7 4.343 7 6v32M35 51h24l4-4v-2H39l-2 2h-2M35 7h19c1.656 0 3 1.343 3 3v32M32 34v20M32 20v8M32 0v14")
									g
										path(d="M32 31c-3.866 0-7-3.134-7-7M32 17c3.866 0 7 3.134 7 7M32 31h8M24 17h8M36 35l4-4-4-4M28 21l-4-4 4-4")
									path(d="M29 37H11V7h18M35 11h18v30H35")


			section.page-card.dark

				.page-card-side
					h2.page-card-title Texture Browser
					.page-card-summary
						p.
							Access the <a href="https://cloud.blender.org/p/textures/">Blender Cloud Textures and HDRI</a>
							libraries from within Blender.
							Create, manage and share <em>your own</em> texture libraries!

					a.page-card-cta.watch-video(
						href="https://www.youtube.com/watch?v=-srXYv2Osjw",
						data-youtube-id="-srXYv2Osjw")
						i.pi-play
						| Watch Video

				.page-card-side
					.page-card-icon
						svg(xmlns="http://www.w3.org/2000/svg",
								width="64", height="60",
								viewBox="0 0 64 60")
								g(fill="#aaa")
									path(d="M32 60c-.188 0-.377-.053-.542-.16l-31-20C.173 39.656 0 39.34 0 39s.173-.656.458-.84l31-20c.33-.213.754-.213 1.084 0l31 20c.285.184.458.5.458.84s-.173.656-.458.84l-31 20c-.165.107-.354.16-.542.16zM2.845 39L32 57.81 61.155 39 32 20.19 2.845 39z")
									path(d="M32 51c-.188 0-.377-.053-.542-.16l-31-20C.173 30.656 0 30.34 0 30s.173-.656.458-.84l31-20c.33-.213.754-.213 1.084 0l31 20c.285.184.458.5.458.84s-.173.656-.458.84l-31 20c-.165.107-.354.16-.542.16zM2.845 30L32 48.81 61.155 30 32 11.19 2.845 30z")
									path(d="M32 42c-.188 0-.377-.053-.542-.16l-31-20C.173 21.656 0 21.34 0 21s.173-.656.458-.84l31-20c.33-.213.754-.213 1.084 0l31 20c.285.184.458.5.458.84s-.173.656-.458.84l-31 20c-.165.107-.354.16-.542.16zM2.845 21L32 39.81 61.155 21 32 2.19 2.845 21z")
									path(d="M31 27h2v2h-2zm0-4h2v2h-2zm0 8h2v2h-2zm4-4h2v2h-2zm4 2h2v2h-2zm-16 0h2v2h-2zm12 2h2v2h-2zm-8-4h2v2h-2zm0 4h2v2h-2zm4 4h2v2h-2zm31 15h2v2h-2zm0-4h2v2h-2zm0 8h2v2h-2zm0 4h2v2h-2zm0-54h2v2h-2zm0-4h2v2h-2zm0 8h2v2h-2zm0 4h2v2h-2zM0 50h2v2H0zm0-4h2v2H0zm0 8h2v2H0zm0 4h2v2H0zM0 4h2v2H0zm0-4h2v2H0zm4 0h2v2H4zm4 0h2v2H8zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm22 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zM4 58h2v2H4zm4 0h2v2H8zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm22 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zM0 8h2v2H0zm0 4h2v2H0z")


			section.page-card.dark.right

				.page-card-side
					h2.page-card-title
						| Image Sharing
					.page-card-summary
						p.
							Got a nice render, a Blender oddity, a cool screenshot?
							Share it instantly from within Blender to the Cloud, to the world!

					a.page-card-cta(
						href="https://cloud.blender.org/blog/introducing-image-sharing")
						| Learn More

				.page-card-side
					.page-card-icon
						svg(xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64")
							g(fill="none",
								stroke="#aaa",
								stroke-width="2",
								stroke-linejoin="round",
								stroke-miterlimit="10")
								path(d="M1 1h62v62H1zM4 59h2M8 59h2M12 59h2M60 49H48M46 49H27M60 53H40")
								path(d="M5 5h54v40H5z")
								path(d="M9 45v-3c0-1.656 1.344-3 3-3h6c1.656 0 3 1.344 3 3v3M29 45v-3c0-1.656 1.344-3 3-3h6c1.656 0 3 1.344 3 3v3M13 45v-3M17 45v-3M33 45v-3M37 45v-3M22 31h-5c-2.762 0-5 2.238-5 5v3M38 39v-3c0-2.762-2.238-5-5-5h-5M31 20c0 3.313-1 9-6 9s-6-5.687-6-9c0-1 0-5 6-5s6 4 6 5z")
								path(d="M29 27l-2 8h-4l-2-8M18 31c-4-3-5-9-5-9l6-3M32 31c4-3 5-9 5-9l-6-3M59 24L44 9l-8 8M44 9l8 36")
								circle(cx="12", cy="12", r="3")


		section.page-card

			.page-card-side
				h2.page-card-title Private Projects
				.page-card-summary.
					Create and manage your own personal projects.
					Upload assets and collaborate with other Blender Cloud members.

				a.page-card-cta(
					href="https://cloud.blender.org/blog/introducing-private-projects")
					| Learn More

			.page-card-side
				.page-card-icon
					svg(xmlns='http://www.w3.org/2000/svg', width='56', height='64', viewbox='0 0 56 64')
						g(fill='#555')
							path(d='M42 38H14V26h28v12zm-26-2h24v-8H16v8zm-4-5H8c-1.654 0-3-1.346-3-3V15h2v13c0 .55.45 1 1 1h4v2z')
							path(d='M9.293 19.707L6 16.414l-3.293 3.293-1.414-1.414 4-4c.39-.39 1.023-.39 1.414 0l4 4-1.414 1.414zM48 31h-4v-2h4c.55 0 1-.45 1-1V15h2v13c0 1.654-1.346 3-3 3z')
							path(d='M53.293 19.707L50 16.414l-3.293 3.293-1.414-1.414L50 13.586l4.707 4.707M27 15h2v9h-2z')
							path(d='M31.293 19.707L28 16.414l-3.293 3.293-1.414-1.414L28 13.586l4.707 4.707M7 49H5V36c0-1.654 1.346-3 3-3h4v2H8c-.55 0-1 .45-1 1v13z')
							path(d='M6 50c-.256 0-.512-.098-.707-.293l-4-4 1.414-1.414L6 47.586l3.293-3.293 1.414 1.414-4 4c-.195.195-.45.293-.707.293zm45-1h-2V36c0-.55-.45-1-1-1h-4v-2h4c1.654 0 3 1.346 3 3v13z')
							path(d='M50 50.414l-4.707-4.707 1.414-1.414L50 47.586l3.293-3.293 1.414 1.414M27 40h2v9h-2z')
							path(d='M28 50.414l-4.707-4.707 1.414-1.414L28 47.586l3.293-3.293 1.414 1.414M6 12c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zM6 2C3.794 2 2 3.794 2 6s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm22 10c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm22 10c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zM6 64c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm22 10c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm22 10c-3.31 0-6-2.692-6-6s2.69-6 6-6 6 2.692 6 6-2.69 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zM27 31h2v2h-2zm-4 0h2v2h-2zm8 0h2v2h-2z')


		section.pricing
			.container
				.row
					.col-md-12
						h2 Simple Pricing. Any payment method.
				.row
					.col-md-4.col-sm-4
						.box.monthly
							h3 Monthly
							.pricing-display
								span.currency-sign $
								span.digit-int 9
								span.digit-dec .90 / month*

							.pricing-caption
								p * with a 3-months minimum period

								ul
									li 100+ hours of high-quality training
									li All the open movies files and tutorials
									li Exclusive production insight &amp; walk-throughs
									li <strong>Sync</strong> your Blender settings across devices
									li <strong>Share</strong> images &amp; screenshots from within Blender
									li <strong>Download</strong>&nbsp;1500+ textures &amp; HDRIs from Blender

							a.sign-up-now(href="https://store.blender.org/product/membership/")
								| Subscribe Now

					.col-md-4.col-sm-4
						.box.yearly
							h3 Yearly
							.pricing-display
								span.currency-sign $
								span.digit-int 109
								span.digit-dec .00 / year
							.pricing-caption
								ul
									li 100+ hours of high-quality training
									li All the open movies files and tutorials
									li Exclusive production insight &amp; walk-throughs
									li <strong>Sync</strong> your Blender settings across devices
									li <strong>Share</strong> images &amp; screenshots from within Blender
									li <strong>Download</strong>&nbsp;1500+ textures &amp; HDRIs from Blender
									li.special 1 month free!

							a.sign-up-now(href="https://store.blender.org/product/membership/")
								| Subscribe Now

					.col-md-4.col-sm-4
						.box.education
							h3 Education

							.pricing-caption
								p.
									We also provide flexible options for group subscription
									ideal for schools or teams.
								p.
									Get in touch to discuss direct support, custom solutions,
									team management tools and Single Sign-on.

							a.sign-up-now(href="mailto:cloudsupport@blender.org")
								i.pi-email
								| Get in Touch

		section.team(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/pattern_01.jpg')}})")
			.container
				.row
					.col-md-12
						h2.
							A restless team of artists and developers <br/>
							wants to share their work with you.

						.people-container
							.people-intro
								h3 Blender Institute
								span Amsterdam, The Netherlands

							.people-faces
								a.face(
									href="https://twitter.com/tonroosendaal",
									data-blenderhead='ton')
									img(alt="Ton", src="{{ url_for('static', filename='assets/img/people/ton.jpg')}}")
								a.face(
									href="https://twitter.com/fsiddi",
									data-blenderhead='francesco')
									img(alt="Francesco", src="{{ url_for('static', filename='assets/img/people/francesco.jpg')}}")
								a.face(
									href="https://twitter.com/hjalti",
									data-blenderhead='hjalti')
									img(alt="Hjalti", src="{{ url_for('static', filename='assets/img/people/hjalti.jpg')}}")
								a.face(
									href="https://twitter.com/colinlevy",
									data-blenderhead='colin')
									img(alt="Colin", src="{{ url_for('static', filename='assets/img/people/colin.jpg')}}")
								a.face(
									href="https://twitter.com/PabloVazquez_",
									data-blenderhead='pablo')
									img(alt="Pablo", src="{{ url_for('static', filename='assets/img/people/pablo.jpg')}}")
								a.face(
									href="https://twitter.com/artificial3d",
									data-blenderhead='andy')
									img(alt="Andy", src="{{ url_for('static', filename='assets/img/people/andy.jpg')}}")
								a.face(
									href="https://developer.blender.org/p/sergey/",
									data-blenderhead='sergey')
									img(alt="Sergey", src="{{ url_for('static', filename='assets/img/people/sergey.jpg')}}")
								a.face(
									href="https://twitter.com/sastuvel",
									data-blenderhead='sybren')
									img(alt="Sybren", src="{{ url_for('static', filename='assets/img/people/sybren.jpg')}}")
								a.face(
									href="https://twitter.com/dfelinto",
									data-blenderhead='dalai')
									img(alt="dalai", src="{{ url_for('static', filename='assets/img/people/dalai.jpg')}}")
								a.face(
									href="https://twitter.com/dfelinto",
									data-blenderhead='luca')
									img(alt="luca", src="{{ url_for('static', filename='assets/img/people/luca.jpg')}}")

							.people-bio
								.bio#ton
									h3 Ton Roosendaal
										small CEO Blender Foundation. Producer Blender Institute
									span The Netherlands

								.bio#francesco
									h3 Francesco Siddi
										small Pipeline Tools & Back-end Web Development
									span Italy

								.bio#pablo
									h3 Pablo Vázquez
										small Lighting, Rendering. Front-end Web Development
									span Argentina

								.bio#andy
									h3 Andy Goralczyk
										small Shading, Lighting, Rendering, FX
									span Germany

								.bio#colin
									h3 Colin Levy
										small Director. Layout.
									span United States

								.bio#hjalti
									h3 Hjalti Hjálmarsson
										small Director. Animation. Layout.
									span Iceland

								.bio#sergey
									h3 Sergey Sharybin
										small Blender & Cycles Core Developer
									span Russia

								.bio#sybren
									h3 Sybren Stüvel
										small Blender Cloud Developer
									span The Netherlands

								.bio#dalai
									h3 Dalai Felinto
										small Blender Developer
									span Brazil

								.bio#luca
									h3 Luca Rood
										small Blender Developer
									span The Netherlands

						.people-container.online
							.people-intro
								h3 Online Collaborators
								span Contributing to Blender Cloud from all over the globe.

							.people-faces
								a.face(
									href="https://twitter.com/davidrevoy",
									data-blenderhead='david')
									img(alt="David", src="{{ url_for('static', filename='assets/img/people/david.jpg')}}")
								a.face(
									href="https://twitter.com/s_koenig",
									data-blenderhead='sebastian')
									img(alt="Sebastian", src="{{ url_for('static', filename='assets/img/people/sebastian.jpg')}}")
								a.face(
									href="https://twitter.com/gleb_alexandrov",
									data-blenderhead='gleb')
									img(alt="Gleb", src="{{ url_for('static', filename='assets/img/people/gleb.jpg')}}")
								a.face(
									href="https://twitter.com/the_mantissa",
									data-blenderhead='midge')
									img(alt="Midge", src="{{ url_for('static', filename='assets/img/people/midge.jpg')}}")
								a.face(
									href="https://twitter.com/jpbouza",
									data-blenderhead='jpbouza')
									img(alt="Juan Pablo", src="{{ url_for('static', filename='assets/img/people/jpbouza.jpg')}}")

							.people-bio
								.bio#gleb
									h3 Gleb Alexandrov
										small Lighting & Shading
									span Belarus

								.bio#david
									h3 David Revoy
										small Illustrator & Concept Artist
									span France

								.bio#midge
									h3 Midge Sinnaeve
										small Motion Graphics
									span Belgium

								.bio#sebastian
									h3 Sebastian König
										small VFX
									span Germany

								.bio#jpbouza
									h3 Juan Pablo Bouza
										small Rigging
									span Argentina


		section.page-card.oneofus.
			Join <strong>2021</strong> awesome people, <a href="">subscribe to Blender Cloud</a> now.

		section.supported-by
			h2 Our projects were supported by
			img.logos(alt="Supported by", src="{{ url_for('static', filename='assets/img/support_logos.png') }}")

		section.page-card.subscribe(
			style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/pattern_bw_01.jpg')}})")
			.page-card-side
				h2.page-card-title
					| Support Blender, get inspiration, knowledge and tools in one place.
				a.page-card-cta(
					href="https://store.blender.org/product/membership/")
					i.pi-heart-filled
					| Subscribe Now


| {% endblock %}

| {% block footer_scripts %}
script.

	$('.triplet-card').click(function(){
		window.location.href = $(this).attr('data-url');
	});

	function getSubscribers(){
		$.get('https://store.blender.org/product-counter/?prod=cloud', function(data) {
		}).done(function(data){
			if (data.total_sold > 0) {
				$('.page-card.oneofus').addClass('active');
				$('.page-card.oneofus strong').html(data.total_sold);
			}
		});
	}

	getSubscribers();

	$('.people-faces .face').hover(
		function(){
			var who = $(this).data('blenderhead');
			$('#' + who).addClass('active');
			$(this).parent().prev().addClass('active');
		},
		function(){
			$('.bio, .people-intro').removeClass('active');
		}
	);

	// Click anywhere in the page to hide the overlay
	function hideOverlay() {
		$('#page-overlay.video').removeClass('active');
		$('#page-overlay.video .video-embed').html('');
	}

	$(document).click(function() {
		hideOverlay();
	});

	$(document).keyup(function(e) {
		if (e.keyCode == 27) {
			hideOverlay();
		}
	});

	$('a.watch-video').click(function(e){
		e.preventDefault();
		e.stopPropagation();

		$('#page-overlay.video').addClass('active');

		var videoId = $(this).attr('data-youtube-id');
		$('#page-overlay .video-embed').html('<iframe src="https://www.youtube.com/embed/' + videoId +'?rel=0&amp;showinfo=0;autoplay=1" frameborder="0" allowfullscreen></iframe>')
	});

| {% endblock %}
