| {% macro render_secondary_navigation(project, pages=None) %}
.container.navbar-secondary
	ul.nav.justify-content-left
		li.nav-item
			a.nav-link.nav-title(
				href="{{ url_for('projects.view', project_url=project.url) }}",
				title="{{ project.name }} Homepage") {{ project.name }}
		li.nav-item
			a.nav-link(
				href="{{ url_for('main.project_blog', project_url=project.url) }}",
				class="{% if title == 'updates' %}active{% endif %}") Updates
		| {% if pages %}
		| {% for page in pages %}
		li.nav-item
			a.nav-link(
				href="{{ url_for('projects.view_node', project_url=project.url, node_id=page._id) }}",
				class="{% if title == 'updates' %}active{% endif %}") {{ page.name }}
		| {% endfor %}
		| {% endif %}
		li.nav-item
			a.nav-link(
				href="/projects/gallery.html",
				class="{% if title == 'gallery' %}active{% endif %}") Gallery
		li.nav-item
			a.nav-link(
				href="#",
				class="{% if title == 'assets' %}active{% endif %}") Assets
		| {% if project.nodes_featured %}
		| {# In some cases featured_nodes might might be embedded #}
		| {% if '_id' in project.nodes_featured[0] %}
		| {% set featured_node_id=project.nodes_featured[0]._id %}
		| {% else %}
		| {% set featured_node_id=project.nodes_featured[0] %}
		| {% endif %}
		| {% endif %}
		li.nav-item
			a.nav-link(
			href="{{ url_for('projects.view_node', project_url=project.url, node_id=featured_node_id) }}",
			title="Explore {{ project.name }}") Dashboard

| {% endmacro %}
