| {% extends 'layout.html' %}
| {% from '_macros/_navigation.html' import navigation_project %}

include ../mixins/components

| {% block page_title %}Edit {{ project.name }}{% endblock %}

| {% block navigation_tabs %}
| {{ navigation_project(project, navigation_links, extension_sidebar_links, title) }}
| {% endblock navigation_tabs %}

| {% block body %}
#project-container
	#project-side-container

		#project_nav
			#project_nav-container
				// TODO - make list a macro
				#project_tree.edit.bg-light
					+nav-secondary()(class="nav-secondary-vertical")
						+nav-secondary-link(
							class="{% if title == 'edit' %}active{% endif %}",
							href="{{ url_for('projects.edit', project_url=project.url) }}")
							i.pr-3.pi-list
							| Overview

						+nav-secondary-link(
							class="{% if title == 'sharing' %}active{% endif %}",
							href="{{ url_for('projects.sharing', project_url=project.url) }}")
							i.pr-3.pi-share
							| Sharing

						+nav-secondary-link(
							class="{% if title == 'edit_node_types' %}active{% endif %}",
							href="{{ url_for('projects.edit_node_types', project_url=project.url) }}")
							i.pr-3.pi-puzzle
							| Node Types

						| {% for ext in ext_pages %}
						+nav-secondary-link(
							class="{% if title == ext.name %}active{% endif %}",
							href="{{ url_for('projects.edit_extension', project_url=project.url, extension_name=ext.name) }}")
							i(class="pr-3 pi-{{ ext.icon }}")
							| {{ ext.name | title }}
						| {% endfor %}


	#project_context-container.border-left
		| {% block project_context_header %}
		| {% endblock %}

		#project_context
			| {% block project_context %}
			| {% endblock %}

script.
	/* UI Stuff */
	$(window).on("load resize",function(){
		containerResizeY($(window).height());
	});

| {% endblock %}

| {% block footer_container %}
| {% endblock %}
