doctype html
html(⚡)
	head
		meta(charset='utf-8')
		script(async, src='//cdn.ampproject.org/v0.js')
		title {{ node.name }} - Blender Cloud
		link(rel='canonical', href='{{ url_for_node(node_id=node._id) }}')
		meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
		style(amp-boilerplate).
			body {-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
		style(amp-custom).
			body {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;font-weight: 400;font-style: normal;letter-spacing: 0;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-moz-font-feature-settings: "liga" on;color: rgba(0,0,0,.8);font-size: 18px;line-height: 1.4;}
			h1, h2, h3, h4, h5, h6{margin:20px;}
			.node-description {margin:10px 20px 30px 20px;word-break:break-word}
			.view-on-cloud {padding:20px}

		noscript
			style(amp-boilerplate).
				body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
	body
		| {% if node.picture %}
		amp-img(
			src="{{ node.picture.thumbnail('l', api=api) }}",
			srcset="{{ node.picture.thumbnail('l', api=api) }} 1080w, {{ node.picture.thumbnail('m', api=api) }} 320w",
			layout="responsive",
			height="{{ node.picture.height }}",
			width="{{ node.picture.width }}")
		| {% endif %}

		h1 {{ node.name }}

		| {% if node.description %}
		.node-description {{ node.description }}
		| {% endif %}

		a.view-on-cloud(href="{{ url_for_node(node_id=node._id) }}") View on Blender Cloud
