| {% macro video_progress_bar(video, current_user) %}

| {% set view_progress = current_user.nodes.view_progress %}
| {% if video._id in view_progress %}
| {% set progress = current_user.nodes.view_progress[video._id] %}
| {% set progress_in_percent = progress.progress_in_percent %}
| {% set progress_done = progress.done %}
| {% endif %}

| {% if progress %}
.progress.rounded-0
	.progress-bar(
		role="progressbar",
		style="width: {{ progress_in_percent }}%;",
		aria-valuenow="{{ progress_in_percent }}",
		aria-valuemin="0",
		aria-valuemax="100")

| {% if progress.done %}
.card-label WATCHED
| {% endif %}

| {% endif %}
| {% endmacro %}
