| {% block body %}

#node-container
	#node-overlay

	| {% if node.picture %}
	section#node-preview.node-preview.image
		img.node-preview-thumbnail#node-preview-thumbnail(
			src="{{ node.picture.thumbnail('l', api=api) }}")
	| {% endif %}


	section.node-details-container.image

		.node-details-header
			.node-title#node-title
				| {{node.name}}

		.node-details-meta.header
			ul.node-details-meta-list
				| {% if node.permissions.world %}
				li.node-details-meta-list-item.access.public(
					data-toggle="tooltip",
					data-placement="left",
					title="Anybody can download. Share it!")
					i.pi-lock-open
					span Public
				| {% endif %}
				| {% if node.short_link %}
				li.node-details-meta-list-item.access.shared
					a(href="{{ node.short_link }}")
						i.pi-share
						| Shared
				| {% endif %}

				| {% if node.file %}
				li.node-details-meta-list-item.type
					| {{ node.file.content_type }}

				li.node-details-meta-list-item.image.length
					| {{ node.file.length | filesizeformat }}
				| {% endif %}

				| {% if node.properties.license_type %}
				| {% if node.properties.license_notes %}
				li.node-details-meta-list-item.license(
					id="asset-license",
					data-toggle="popover",
					data-placement="left",
					data-trigger="hover",
					data-content="{{ node.properties.license_notes }}",
					title=" {{ node.properties.license_type }}")

					i(class="pi-license-{{ node.properties.license_type }}")
				| {% else %}
				li.node-details-meta-list-item.license(
					id="asset-license",
					data-toggle="tooltip",
					data-placement="bottom",
					title="{{ node.properties.license_type }}")

					i(class="pi-license-{{ node.properties.license_type }}")
				| {% endif %}
				| {% endif %}

				| {% if node.file %}
				li.node-details-meta-list-item.image.download(title="Download Image")
					| {% if node.file.link %}
					a(href="{{ node.file.link }}",
						title="Download image",
						download="{{ node.file.filename }}")
						button.btn.btn-default(type="button")
							i.pi-download
					| {% else %}
					button.btn.btn-default.disabled.sorry(type="button")
						i.pi-lock
						i.pi-download
					| {% endif %}
				| {% endif %}

		| {% if node.description %}
		.node-details-description#node-description
			| {{node.description}}
		| {% endif %}

		| {% if node.properties.license_notes %}
		.node-details-meta.license
			| {{ node.properties.license_notes }}
		| {% endif %}

		.node-details-meta.footer
			ul.node-details-meta-list
				| {% if node.has_method('PUT') %}
				li.node-details-meta-list-item.status
					| {{ node.properties.status | undertitle }}
				| {% endif %}

				li.node-details-meta-list-item.author
					| {{ node.user.full_name }}

				li.node-details-meta-list-item.date(title="Created {{ node._created }}")
					| {{ node._created | pretty_date }}
					| {% if (node._created | pretty_date) != (node._updated | pretty_date) %}
					span(title="Updated {{ node._updated }}") (updated {{ node._updated | pretty_date }})
					| {% endif %}

		#comments-embed
			#comments-list-items-loading
				i.pi-spin

include ../../_scripts

| {% endblock %}

| {% block footer_scripts %}
script.
	// Generate GA pageview
	ga('send', 'pageview', location.pathname);

	var content_type = $("li.node-details-meta-list-item.type").text();
	$("li.node-details-meta-list-item.type").text(content_type.substring(content_type.indexOf("/") + 1));

	$('.sorry').click(function() {
		$.get('/403', function(data) {
			$('#node-overlay').html(data).addClass('active');
		})
	});

| {% endblock %}

